# Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nextauth?schema=public"

# Next Auth
NEXTAUTH_SECRET="secret"
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Google Provider
GOOGLE_CLIENT_ID="sdfoijoweijfoiwjefoijsodijf.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="SDNFIOS-NSO82FOSDI-82HFSFSJK"

# AWS
S3_ACCESS_KEY=RJVAO498FJVN2298VNSL
S3_SECRET_KEY=1INlPv6769283hoJXoijNVivhsoido22jknN50lg
S3_BUCKET=bucket-name
